<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout/layout.html}">

<head>
    <title>공지사항</title>
    <style>
        h2 {text-align: center; padding-top: 2rem;}
        tbody td {text-align: left; padding-left: 10px; width: 39%; }
        tbody th {text-align: center; width: 10%; }
        tr { border-bottom: 1px solid #aaaaaa; height: 2.5rem; }
    </style>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" th:href="@{/lib/jquery.dataTables.css}">
    <script th:src="@{/lib/jquery.dataTables.js}"></script>

</head>

<div layout:fragment="content">
    <section class="about_section">
        <div class="container" style="padding-top: 2rem; padding-bottom: 2rem;">
            <div class="row" style="align-items: flex-start;">
                <div class="col-md-6">
                    <div class="about_img-container">
                        <img th:src="@{/images/about.png}" alt="">
                    </div>
                </div>
                <div class="col-md">
                    <div class="row" style="height: 10vh; align-items: flex-start">
                        <h3 style="padding-left: 10px;">
                            에듀몬 공지사항
                        </h3>
                    </div>

                    <div class="row" style="min-height: 35vh; align-items: flex-start; ">
                        <div class="col-md">
                            <div class="about_detail-box">
                                <table class="tb1" id="myTable1">
                                    <thead>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th class="item1">글번호</th>
                                        <td class="item1">[[${dto.bno}]]</td>
                                    </tr>
                                    <tr>
                                        <th class="item2">글제목</th>
                                        <td class="item2">[[${dto.title}]]</td>
                                    </tr>
                                    <tr>
                                        <th class="item3">작성자</th>
                                        <td class="item3">[[${dto.writer}]]</td>
                                    </tr>
                                    <tr>
                                        <th class="item4">작성일</th>
                                        <td class="item4">[[${#temporals.format(dto.regDate, 'yyyy-MM-dd')}]]</td>
                                    </tr>
                                    <tr style="height: 30vh; vertical-align: top; ">
                                        <th class="item5" style="padding: 10px; ">내용</th>
                                        <td class="item5" style="padding: 10px; ">[[${dto.content}]]</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="height: 10vh;">
                        <div class="col-md">
                            <div class="row">
                                <div style="padding-right: 4px;">
                                    <a href="/board/list" class="call_to-btn btn_white-border" style="padding: 10px 45px; background-color: #005cbf;">
                                        목록
                                    </a>
                                </div>
                                <div sec:authorize="hasRole('ROLE_ADMIN')">
                                    <a th:href="|@{/board/editFm(bno=${dto.bno})}|" class="call_to-btn btn_white-border" style="padding: 10px 45px; background-color: #ffc107;">
                                        수정
                                    </a>
                                    <a th:href="|@{/board/remove(bno=${dto.bno})}|" class="call_to-btn btn_white-border" style="padding: 10px 45px; background-color: #ff1155;">
                                        삭제
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>