<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout/layout.html}">

<head>
    <title>메인</title>

    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" th:href="@{/lib/jquery.dataTables.css}">
    <script th:src="@{/lib/jquery.dataTables.js}"></script>

    <style>
        .navbar-brand span:hover {font-weight: bolder; color: black;}
        .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link:hover {font-weight: bolder; color: black;}
    </style>

</head>

<section layout:fragment="hero">
    <div class="hero-container container">
        <div class="hero_detail-box">
            <h1>
                에듀몬,<br>
                자기주도학습<br>
                형성<br>
                프로그램!
            </h1>
            <p>
                <span style="font-size: 1.5em;">에듀몬</span>은 아이들이 자기주도학습을 형성할 수 있도록
                스스로 학습 계획표를 작성하고,
                계획을 실천하면서 칭찬 스탬프를 얻는 보람과 성취감을 통해
                스스로 학습할 수 있는 습관을 기를 수 있도록 돕는 웹 애플리케이션 서비스입니다.
            </p>
            <div sec:authorize="isAnonymous()">
                <div class="hero_btn-continer" style="float: left; display: block;">
                    <a href="/member/login" class="call_to-btn btn_white-border" style="font-size: 1.1em;">
                        로그인
                    </a>
                </div>
                <div class="hero_btn-continer" style="float: left; display: block; padding-left: 10px;">
                    <a href="/member/new" class="call_to-btn btn_white-border" style="font-size: 1.1em;">
                        회원가입
                    </a>
                </div>
            </div>
            <div sec:authorize="isAuthenticated()">
                <div class="hero_btn-continer" style="float: left; display: block;">
                    <a href="" class="call_to-btn btn_white-border" style="font-size: 1.1em;">
                        계획표 만들기!
                    </a>
                </div>
            </div>
        </div>
        <div class="hero_img-container">
            <div>
                <img th:src="@{/images/hero.png}" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>